* {
	box-sizing: border-box;
}

#container {
/* 	border: 2px solid black; */
	display: flex;
	padding: 1rem;
}

#profileInfo {
/* 	border: 2px solid blue; */
	flex: 1;
	margin-left: 10%;
}

img {
	height: 230px;
	width: 230px;
	border-radius: 5px;
}

h2 {
	margin: 0 auto;
}

#userName p {
	margin: 0 auto;
	font-size: 19px;
	color: #746666
}

#joined p {
	display: inline-block;
	padding-left: rem;
}

#followers, #starred, #following {
	display: inline-block;
	text-align: center;
	padding: .5rem;
}

span {
	font-size: 25px;
	color: #4078c0;
	font-weight: bold;
}

#repoData {
/* 	border: 2px solid red; */
	flex: 2;
	padding-left: 3%;
	padding-right: 10%;
}

#repoData > div {
	border-bottom: 1px solid gray;
	position: relative;
}

#repoData > div > p  {
	display: inline-block;
	color: #4078c0;
	font-size: 20px;
	height: 60px;
	margin: 0 auto;
}

 .language, .stargazers, .forks {
	float: right
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}