* {
	box-sizing: border-box;
}

#container {
/* 	border: 2px solid black; */
}

#header {
	text-align:center;
	background-color: #f5f5f5;
}

#header i {
	font-size:25px;
}

input {
	height: 25px;
	width: 250px;
}

#infoBox {
	display: flex;
	padding: 1rem;
}

#profileInfo {
/* 	border: 2px solid blue; */
	flex: 1;
	margin-left: 10%;
}

img {
	height: 230px;
	width: 230px;
	border-radius: 5px;
}

h2 {
	margin: 0 auto;
}

#userName p {
	margin: 0 auto;
	font-size: 19px;
	color: #746666
}

#joined p {
	display: inline-block;
	padding-left: rem;
}

#joined i {
	color: #a9938b;
	padding-right: 10px;
}

#followers, #starred, #following {
	display: inline-block;
	text-align: center;
	padding: .5rem;
}

span {
	font-size: 25px;
	color: #4078c0;
	font-weight: bold;
}

#repoData {
/* 	border: 2px solid red; */
	flex: 2;
	padding-left: 3%;
	padding-right: 10%;
}

.repos {
	border-bottom: 1px solid #a9938b;
	position: relative;
	font-weight: bold;
}

.repos:first-child {
	border-top: 1px solid #a9938b;
}

.repoName, .language, .stargazers, .forks{
	color: #4078c0;
	font-size: 20px;
	height: 60px;
	margin: 0 auto;
	display: inline-block;
	padding-top: 35px;
	padding-right: 10px;
}

.repoName {
	padding-left: 0;
	padding-bottom: 0;
}

.language, .stargazers, .forks {
 	margin: 0 auto;
 	float: right;
 	color: #a9938b;
 	font-size: 15px;
}

.language {
	font-weight: bold;
}

.forks {
	padding-right: 0;
}

.repos i {
	padding: 3px;
}

.update p {
	margin: 0 auto;
	color: #a9938b;
 	font-size: 15px;
 	padding-bottom: 2rem;
}